@import 'variables';
@import 'typography';

$address-pad: 50px;
$addressline-pad: $address-pad - 20px;

.we-are-in-london-sm{
  @include positionandheight($height-we-are-in-london-small);
}

.we-are-in-london-md{
  @include positionandheight($height-we-are-in-london-medium);
}

.we-are-in-london-lg{
  @include positionandheight($height-we-are-in-london-large);
}

.address-list{
  position: absolute;
  bottom: -24px;
  left: 0;
  ul{
    list-style: none;
    padding-left: $address-pad;
  }

  li{
    color: $color-brand;
    font-family: $font-family-cabin;
    text-decoration: underline;
    span{
      margin-right: 10px;
    }
  }
  .address-line{
    padding-left: $addressline-pad;
  }

}
.contact-project{
  @extend .address-list;
  bottom: 50px;
  li{
    color: $color-text-body;
    font-size: 22px;
    font-weight: $text-semi-bold;
  }
}
.lightbox-address{
  @extend .contact-project;
  .address-line{
    padding-left: 0;
  }
}

.large-address{
  font-size: 1.3em;
}