@import 'variables';
@import 'mixins';

$header-inside-margin-top: 30px;
.gg-header{
	@include vartical-padding(70px, 50px);
	.gg-center-left-offset{
		width: $center-block + 29px;
		margin-left: $left-block-width - 29px;

		.gg-header-menu{
			margin-right: -29px;
			margin-top: $header-inside-margin-top;
		}
	}
	.gg-right-col{
		padding-left: 19px;
	}
}

.gg-slogan{
	font-size:24px;
}


.header-line{
	.h-line-right{
		margin-bottom: 40px;
	}  
}

$menu-font-size: 19px;

.gg-header-menu{
	$vPadding: 9px;
	$hPadding: $vPadding * 2;
	font-size: $menu-font-size;
	ul {
		@extend .list-style-reset;
	}

	li {
		display: inline-block;
		position: relative;
		@include vartical-padding($vPadding, $vPadding);
		a{
			color: $color-key-word;
				&:hover{
					color: $color-secondary-background;
				}
				&:active{
					color: $color-secondary-background;
				}
		}

		//&:last-child {
		//	a{
		//		border-right: none;
		//		//@extend .text-lightgray;
		//	}
		//}

		ul.gg-sub-menu{
			position: absolute;
			right:0;
			li{
				a{
					border-right: none;
				}
			}
		}
	}




	a {
		display: block;
		text-decoration: none;
		@include horizantal-padding($hPadding, $hPadding);
		color: inherit;
		font-weight: $text-bold;
		border-right: 1px solid transparentize($color-accent, 0.8);
		&:hover{
			color: $color-text-body;
		}


	}
	
}

.gg-header-search{
	text-decoration: none;
	@include vartical-padding(0, 6px);
	font-weight: $text-bold;
	color: $color-secondary-background;
	line-height: 40px;
	font-size: $menu-font-size;
	display: block;
	margin-top: $header-inside-margin-top;
}