@import 'variables';
@import 'typography';


$line-height: 25px;
.gg-nav-list{
	padding: 0;
	list-style: none;
	li{
		a{
			line-height: $line-height;
		}
	}
}

.home-nav-list{
	margin-top: 57px;
}

.gg-post-row{
	@extend .gg-row;
	padding-top: 77px;
	margin-bottom: 79px;
}
.gg-post-row-bottom{
	@extend .gg-row;
	margin-bottom: 79px;
}

.gg-top-post{
	margin-bottom: 20px;
	line-height: 27px;
	font-size: 17px;
	overflow: hidden;
}

.gg-post{
	margin-top: 20px;
	@extend .gg-top-post;
	font-size: 17px;
	line-height: 30px;
}

.gg-nav-info{
	padding: 0;
	list-style:none;
	li {
		line-height: $line-height;
	}
}

.more-link{
	//padding-top: 35px;
	position: absolute;
	right:0;
	bottom:0;
}

.the-human-behind{
	@include positionandheight($height-the-heman-behind);
}

.work-with-team{
	@include positionandheight($height-work-with-team);
}