@import 'typography';
$bottom-space: 80px;
.gg-portfolio-grid{
  margin-top: $bottom-space;
  .gg-inner-col-3{
    margin-bottom: $bottom-space;
  }
}

.gg-popbg {
  background: rgba($color-text-body, .5);
  position: absolute;
  margin: 0;
  min-height: 3240px;
  width: 1400px;
  z-index:3;
}

.gg-image-pop{
  position: absolute;
  top: 300px;
  left: 0;
  z-index:4;
}

$margin: 36px;
.img-list{
  width: 50%;
  margin: auto;
  ul{
    list-style: none;
    li{
      float: left;
      width: 280px;
      height: 135px;
      margin-left: $margin / 2;
      margin-right: $margin / 2;
    }
  }
}