@import 'typography';
$bottom-space: 80px;
.gg-portfolio-grid{
  margin-top: $bottom-space;
  .gg-inner-col-3{
    margin-bottom: $bottom-space;
  }
}


.gg-popbg{
  background: rgba($color-text-body, .5);
  position: relative;
  margin: 0;
}

.gg-image-pop{
	position: absolute;
	z-index: 9999;
	top: 400px;
	left: 0;
}

$margin: 36px;
.img-list{
  width: 50%;
  margin: auto;
  ul{
    list-style: none;
    li{
      float: left;
      width: 280px;
      height: 135px;
      margin-left: $margin / 2;
      margin-right: $margin / 2;
    }
  }
}

