@import "mixins";

$service-post-height: 993px;
$service-post-height-2: 557px;

.service-post{
  @include positionandheight($service-post-height);
  @extend .gg-post;
  margin-top: 0;
}

.service-post-sm{
  @include positionandheight($service-post-height-2);
  @extend .gg-post;
  margin-top: 0;
}
