extends shared/feedbackMaster
block feedback-content
	div.gg-center-col
		div.gg-inner-row-2.gg-top-post
			div.gg-inner-col-2
				h3.heading-post OUR JOB
				div Here at Guru Graphics we enjoy to work in a relaxed and friendly environment, with high quality standards. Here's a general overview on our approach to the most common web development-related jobs, so you will know what you will face while working with us.
			div.gg-inner-col-2
				img(src="assets/images/ourjob.jpg")
		div.gg-inner-row-2
			div.gg-inner-col-2

			div.gg-inner-col-2
				p
					a.text-important.underline-none(href="#") planning
