extends shared/feedbackMaster
include shared/mixins
block feedback-content
	div.gg-center-col.beat-testing
		div.gg-inner-row-2.gg-top-post
			+feefbackHead("beta testing")
			div.gg-inner-col-2
				div The beta testing phase is a very important step towards ensuring your website is ready to be launched on the World Wide Web without any major technical hitches. The website is almost ready at this stage. We download it to one of our Internal Servers - not available to the public, and start simulating custom issues that may happen to the website or on it. First, we test whether everything functions well on the website. Secondly, we generate errors to check out if the system will still cope with them. We stress these issues to make sure that the website will remain stable, should similar issues occur and then finally, we try to hack the website like hackers do. We know exactly how hackers work and it is very important to us to know that we have made your site as hack-proof as we can. After that it is your turn to test the website. We will give you access to our server, so that you can check the website yourself. If you don’t like anything, we will improve it for you.
			div.gg-inner-col-2
				img(src="assets/images/betatesting.jpg")
		+feedbackbottomlink("back", "launch")
block foot
	+footer1()