extends shared/layout
include shared/mixins
block content
	div.gg-row
		div.gg-center-left-offset
			.gg-inner-row-2
				+feefbackHead("feedback")
				div.gg-inner-col-2
					div.text-important What's the point of having a website if people struggle to find it? Google is our friend and we know how to speak with him, in order to allow your project to jump on the top of the search results whenever a potential customer/visitor makes a research that should bring to you. You'd better make <span class="text-bold">Google your best friend</span>, he knows everyone.

				div.gg-inner-col-2
					img(src="assets/images/feedback-1.jpg")

			+feedbackNav()