extends shared/serviceMaster
block service-content
	.gg-center-col
		.gg-inner-row-2.gg-top-post
			+serviceHead("hosting solutions")
			.gg-inner-col-2
				div Web development can be technical for some people, and time expensive for most. <p><span class="text-bold">We can provide and take care of your website's hosting account</span>. No more emailing customer services or applying for technical "solutions" online. We're here for you and we will look after every technical aspect of your domain without disturb you (or send you more spam...) ensuring a professional job everyday. Just stop thinking about it and enjoy your website, we will handle everything for you behind the scenes.</p>

			.gg-inner-col-2
				img(src="assets/images/img-10.jpg")