extends shared/serviceMaster
block service-content
	.gg-center-col
		.gg-inner-row-2.gg-top-post.service-post-sm
			+serviceHead("psd to html conversion")
			.gg-inner-col-2
				div If you need to transform your <span class="text-bold">PSD files</span> into pure HTML, JS or CSS code, we can do it very quickly for you with  <span class="text-bold">100% accuracy in the details,</span> including fantastic effects for a very competitive price. We will deliver a zip file containing the sorted file tree, compressed and non-compressed code, and high quality code standards.

			.gg-inner-col-2
				img(src="assets/images/psd2html.jpg")