extends shared/layout
block content
	div.gg-row
		//container for slider, banner, menu and small statistic
		div.gg-separator.gg-post-row-bottom
			div.gg-left-col
				ul.gg-nav-list.home-nav-list
					li
						a.link-orange.text-bold(href="#") Web development
					li
						a.link-orange.text-bold(href="#") Graphic and web design
					li
						a.link-orange.text-bold(href="#") IT security
					li
						a.link-orange.text-bold(href="#") Responsive development
					li
						a.link-orange.text-bold(href="#") Website Maintenance
					li
						a.link-orange.text-bold(href="#") Ecommerce development
					li
						a.link-orange.text-bold(href="#") S.E.O.
					li
						a.link-orange.text-bold(href="#") Psd to html
					li
						a.link-orange.text-bold(href="#") Newsletter setup
					li
						a.link-orange.text-bold(href="#") Hosting solutions
					li
						a.link-orange.text-bold(href="#") Cms service
			div.gg-center-col
				div.gg-inner-row-2.gg-top-post
					+serviceHead("newsletter setup")
					div.gg-inner-col-2
						div Need a <span class="text-bold">newsletter</span> for your website? We can set it up for you in a <span class="text-bold">very short time</span> following your preferences and directions in order to style the emails with your brand identity and keep your brand's consistency in every email communication.
						
							p.text-right
								a.text-important(href="#") more
					div.gg-inner-col-2
						img(src="assets/images/img-9.jpg")

	