extends shared/layout
include shared/mixins
block content
	div.gg-row
		div.gg-center-left-offset.feedback-post
			.gg-inner-row-2.feedback-post-text
				+feefbackHead("feedback")
				div.gg-inner-col-2
					div.text-important "Fantastic work as usual. Guru Graphics Team go the extra mile to deliver more the expected. I'm passionate about what I do and it's so good to work with someone who is passionate too. So they understand why I'm a perfectionist when it comes to the quality of my website and my work. The work was delivered with unlimited amendments, suggestions and no complaints were ever made. Very happy! I cannot recommend me more than enough. He knows his stuff. Very experienced and great attitude. Thanks again!" <span class="text-bold">Flavilla F.</span>

				div.gg-inner-col-2
					img(src="assets/images/feedback-1.jpg")

			+feedbackNav()
block foot
	+footer4()