extends shared/serviceMaster
block service-content
	div.gg-center-col
		div.gg-inner-row-2.gg-top-post
			+serviceHead("newsletter setup")
			div.gg-inner-col-2
				div Need a <span class="text-bold">newsletter</span> for your website? We can set it up for you in a <span class="text-bold">very short time</span> following your preferences and directions in order to style the emails with your brand identity and keep your brand's consistency in every email communication.

			div.gg-inner-col-2
				img(src="assets/images/img-11.jpg")