extends shared/serviceMaster
block service-content
	div.gg-center-col
		div.gg-inner-row-2.gg-top-post
			+serviceHead("search engine optimisation")
			div.gg-inner-col-2
				div What's the point of having a website if people struggle to find it? Google is our friend and we know how to speak with him, in order to allow your project to jump on the top of the search results whenever a potential customer/visitor makes a research that should bring to you. You'd better make <span class="text-bold">Google your best friend</span>, he knows everyone.
					p.text-right
						a.text-important(href="#") more
			div.gg-inner-col-2
				img(src="assets/images/ggs-optimization.jpg")
