extends shared/serviceMaster
block service-content
	div.gg-center-col
		div.gg-inner-row-2.gg-top-post
			div.gg-inner-col-2
				h3.heading-post RWEB DEVELOPMENT
				div Our team of developers delivers web applications and websites using the <span class="text-bold">latest technologies</span> available to provide you a modern and highly qualified product. We know our programming languages as we know our homes, <span class="text-bold">your project</span> with us will be just fine.
					p.text-right
						a.text-important(href="#") more
			div.gg-inner-col-2
				img(src="assets/images/webdevelopment.jpg")
