extends shared/serviceMaster
block service-content
	div.gg-center-col
		div.gg-inner-row-2.gg-top-post
			div.gg-inner-col-2
				h3.heading-post RESPONSIVE DEVELOPMENT
				div Having a website which is not browsable from all the mobile devices, such as smartphones and tablets is one of the biggest limits for a website owner. Responsiveness means the capacity of a website to <span class="text-bold">smartly adapt itself to every screen resolution</span> or device in order to be <span class="text-bold">browsable from everywhere</span>. In any of our product, responsiveness is guaranteed!
					p.text-right
						a.text-important(href="#") more
			div.gg-inner-col-2
				img(src="assets/images/img-9.jpg")
