extends shared/feedbackMaster
include shared/mixins
block feedback-content
	div.gg-center-col.feedback-post
		div.gg-inner-row-2.gg-top-post
			+feefbackHead("optimisation")
			div.gg-inner-col-2
				div Once the website is fully developed, designed and is functioning well, the next period is the optimisation stage. Your website will be optimised at this point for a search engine. This is to make make sure your site is found within the first few pages on Google. Ideally on the first page! We optimise the loading time of pages and address possible minor issues that may affect the performance of your website.
				
			div.gg-inner-col-2
				img(src="assets/images/optimisation.jpg")
		+feedbackbottomlink("back", "beta testing")
block foot
	+footer1()