extends shared/feedbackMaster
include shared/mixins
block feedback-content
	div.gg-center-col
		div.gg-inner-row-2.gg-top-post
			div.gg-inner-col-2
				h3.heading-post LAUNCH
				div This is the last step in the process. The project can only reach this stage once it is complete and the customer is fully satisfied. Your website will therefore only go live once it is ready to be used by visitors and you are completely happy with it, and you have told us to launch it. We will also be more than happy to provide you a hosting solution, and help you with any maintenance your site might need. ...And if you ever need a website redesign or update in the future, who else would be better at working with our code than us? We know them like the back of our hands.
					p.text-right
						a.text-important(href="#") more
			div.gg-inner-col-2
				img(src="assets/images/LAUNCH.jpg")
		div.gg-inner-row-2
			div.gg-inner-col-2
				p.text-right
					a.text-important.underline-none(href="#") back
