extends shared/serviceMaster
block service-content
	div.gg-center-col
		div.gg-inner-row-2.gg-top-post
			+serviceHead("it security")
			div.gg-inner-col-2
				div We know how a hacker works very well, that's why we develop our web applications with the <span class="text-bold">highest security standards</span>. We can also provide any kind of <span class="text-bold">security assessment</span> using the latest security tools and all of our skills and knowledge. So you can just stop thinking about your e-commerce or your personal data, nobody will be able to hack our code.

			div.gg-inner-col-2
				img(src="assets/images/img-9.jpg")

	