extends shared/layout
include shared/mixins
block content
	div.gg-row
		//container for slider, banner, menu and small statistic
		div.gg-separator.gg-post-row-bottom
			+homeleftlink()
			div.gg-center-col
				h2.heading-post PRODUCTS PHILOSOPHY
				div.gg-inner-row-2.gg-top-post
					div.gg-inner-col-2
						div Our idea of product is based on the thoughts of <span class="text-bold">Dieter Rams</span>, who was Braun’s lead designer from 1955 to 1995 (40 years) and Vitsœ in the 60s, creating the stunning product design that has revolutionized the approach to design. <span class="text-bold">Less, but better</span> Dieter Rams has inspired Sir Jony Ive, who is currently the Chief Design Officer at Apple, a Company that has made of its industrial design, a worldwide trend.
							| This philosophy has been explained and sustained by Dieter Rams by the creation of a simple set of rules to define the <span class="text-bold">“Good Design” concept , talking about the design’s involvement into the product usage and usability.</span>
							| We have readapted these rules to be applicable to web design and development as a general philosophy, rather than a set of rules to follow. This philosophy does not want to suggest how to act or perform operations, but to introduce a new approach to the way design and development are usually thought of by the professionals working in the field.
					div.gg-inner-col-2
						img(src="assets/images/culture.jpg")
			+rightStatistic2()

		div.h-line-left
		+thehumansbehinds()

		div.h-line-right

		+workwithateam2()

		div.h-line-right
		+weareinlondon3()
block foot
	+footer2()