extends shared/serviceMaster
block service-content
	.gg-center-col
		.gg-inner-row-2.gg-top-post.service-post-sm
			+serviceHead("responsive development")
			.gg-inner-col-2
				div Having a website which is not browsable from all the mobile devices, such as smartphones and tablets is one of the biggest limits for a website owner. Responsiveness means the capacity of a website to <span class="text-bold">smartly adapt itself to every screen resolution</span> or device in order to be <span class="text-bold">browsable from everywhere</span>. In any of our products, responsiveness is guaranteed!

			.gg-inner-col-2
				img(src="assets/images/responsive_development.jpg")
block foot
	+footer1()