extends shared/feedbackMaster
include shared/mixins
block feedback-content
	div.gg-center-col.feedback-post
		div.gg-inner-row-2.gg-top-post
			+feefbackHead("planning")
			div.gg-inner-col-2
				div ‘Failing to plan is planning to fail’. Because satisfying our customers’ needs is our main priority. We take planning very seriously at all times and especially early on when we can still easily change all aspects of the project. All our projects therefore begin with a precise plan of what we are going to do. We collect as much information as we can from our customers first, to understand exactly how we should structure the project. This process will begin with you providing us with a completed form that thoroughly explains your needs and preferences, as well as your expectations from us.
			div.gg-inner-col-2
				img(src="assets/images/planning.jpg")
		+feedbackbottomlink("back", "research")

block foot
	+footer1()
