extends shared/layout
include shared/mixins
block content
	div.gg-row
		//container for slider, banner, menu and small statistic
		div.gg-separator.gg-post-row-bottom
			+homeleftlink()
			div.gg-center-col
				h2.heading-post HELLO WE ARE GURU!
				div.gg-inner-row-2.gg-top-post.gg-gallary-grid
					- var imgs = [{image:'project-1.jpg', caption: 'Allsaints'},{image:'project-2.jpg', caption: 'The Entertainer'},{image:'project-3.jpg', caption: 'Domus ans Sons ltd.'}, {image:'slide-1.jpg', caption: 'Outside Collective'},{image:'slide-2.jpg', caption: 'Population and Sustainability'},{image:'slide-3.jpg', caption: 'Credit Choisir',opacity:false}]
					+projectGalleryOpacity(imgs)
			+rightStatistic2()

		div.h-line-left
		+aboutgurugraphic()

		div.h-line-right

		+workwithateam2()

		div.h-line-right
		+weareinlondon3()
block foot
	+footer1()