extends shared/serviceMaster
block service-content
	div.gg-center-col
		div.gg-inner-row-2.gg-top-post
			div.gg-inner-col-2
				h3.heading-post ECOMMERCE DEVELOPMENT
				div If you need a <span class="text-bold">new E-commerce website</span> from scratch, or you already have one which needs some updates, we will look after it to make it look and work exactly how you espect, making it easy to use and understand, in order to improve your business and your customers' web experience on your website.

			div.gg-inner-col-2
				img(src="assets/images/img-7.jpg")

		
