extends shared/feedbackMaster
block feedback-content
	div.gg-center-col.feedback-post
		div.gg-inner-row-2.gg-top-post
			+feefbackHead("research")
			div.gg-inner-col-2
				div After completing a plan, we do a market research about your company. We analyse information about the industry you are working in, your competitors, suppliers and buyers’ behaviour. Industry analysis helps us identify the main trends in the market and understand what the necessary attributes for your project are. The outcome of our research will enable us to create the best site in your sector that meets your business goals and your customers’ needs.
			div.gg-inner-col-2
				img(src="assets/images/research.jpg")

		+feedbackbottomlink("back", "wireframming")

block foot
	+footer1()
