extends shared/feedbackMaster
include shared/mixins
block feedback-content
	div.gg-center-col
		div.gg-inner-row-2.gg-top-post
			+feefbackHead("wireframing")
			div.gg-inner-col-2
				div Wire framing is the first step of your website creation. At this stage our designers make a visual representation of your website pages. They allocate all the elements of the website in every page. During the wireframing stage the webpage will have no colour or content. This period of the project is designed to help us identify how all the objects of the page will be measured and allocated.
			div.gg-inner-col-2
				img(src="assets/images/wireframing.jpg")
		+feedbackbottomlink("back", "desing")