extends shared/layout
include shared/mixins
block content
	div.gg-row
		//container for slider, banner, menu and small statistic
		div.gg-separator.gg-post-row-bottom
			+homeleftlink()
			div.gg-center-col
				h2.heading-post hello we are guru!
				div.gg-inner-row-2.gg-top-post
					div.gg-inner-col-2
						img(src="assets/images/img-1.jpg")
					div.gg-inner-col-2
						img(src="assets/images/img-2.jpg")
			+homeRightStatistic()

		div.h-line-left

		div.gg-separator.gg-post-row
			div.gg-center-left-offset
				div.gg-inner-row-2.gg-post
					div.gg-inner-col-2
						img(src="assets/images/img-3.jpg")
					div.gg-inner-col-2
						h3.heading-post the humans behind guru
						div It’s all about who we really are: we’ve got <span class="text-bold">designers, developers</span>, various nerds and creeps, and hackers. All different professions, personalities and cultures, but what’s in common is the passion for something, the will to go in the same direction and think in the same positive way. We want to <span class="text-bold">have fun and be creative</span>, we don’t want to die sitting at our desks, no way. <span class="text-bold">We want to make it our own way - go big or go home.</span>
							| Although we try to be as flexible as possible in order to meet the clients’ requirements, we try to always undertake the same creative process, as a team, in order to create our products and bring the projects to life. Obviously each member of the team has their own personal creative process, but we always try to <span class="text-bold">work as a coordinated organism</span> in order to improve and give birth to our best ideas.
							p.text-right
								a.text-important(href="#") less

		div.h-line-right

		+workwithateam()

		div.h-line-right
		+weareinlondon3()