extends shared/layout
include shared/mixins
block content
	div.gg-row
		div.gg-center-left-offset
			.gg-inner-row-2
				+feefbackHead("feedback")
				div.gg-inner-col-2
					div.text-important "Really impressed by how doggedly this developer after the specification, worked long hours on a thankless job! Really looking forward to working with Guru G. in the future." <span class="text-bold">Ryan F.</span>

				div.gg-inner-col-2
					img(src="assets/images/feedback-1.jpg")

			+feedbackNav()