extends shared/layout
include shared/mixins
block content
	div.gg-row
		//container for slider, banner, menu and small statistic
		div.gg-post-row-bottom
			div.gg-center-left-offset
				h2.heading-post Our Studio
					img(src="assets/images/studio-1.jpg")
			+rightStatistic()
			div.gg-center-left-offset
				div.gg-inner-row-2.gg-top-post
					div.gg-inner-col-2
						img(src="assets/images/studio-2.jpg")
					div.gg-inner-col-2
						img(src="assets/images/studio-3.jpg")
			+studiohomeleftlink()
			div.gg-center-col
				h2.heading-post Our Studio
				div.gg-inner-row-2.gg-top-post
					div.gg-inner-col-2
						img(src="assets/images/team1.jpg")
						p coder/art director/web architect/ oxford university
					div.gg-inner-col-2
						img(src="assets/images/team2.jpg")
						p coder/art director/web architect/ oxford university
				div.gg-inner-row-2.gg-top-post
					div.gg-inner-col-2
						img(src="assets/images/team3.jpg")
						b Boris de Melo/ Ux Design Intern
						p An avid technology fanatic and photography hobbyist. Studied Product Design Engineering at Loughborough University.
					div.gg-inner-col-2
						img(src="assets/images/team4.jpg")
						b Jag Panaich / UX UI intern
						p Passionate about Cars and Games. Love sketching. Studied Ergonomics and Human Factors at Loughborough University.
				div.gg-inner-row-2.gg-top-post
					div.gg-inner-col-2
						img(src="assets/images/team5.jpg")
						b Julien Montagnat / Web developer intern
						p Passionate about new technologies and music.Student in Epitech in France.
					div.gg-inner-col-2
						img(src="assets/images/team6.jpg")
						b Pier Paolo Moro / Graphic Design intern
						p All in all it’s about creativity. Art supporter, bad music taste. BA degree in Graphic and Product design at IUAV in Venice.
				div.gg-inner-row-2.gg-top-post
					div.gg-inner-col-2
						img(src="assets/images/team7.jpg")
						b Arnold Quarcoo / UX Intern
						p Football and cars lover. Very passionate about technology. Information Technology Management graduate.
		div.h-line-right

		+joinUs()
		div.h-line-right

		+weareinlondon5()

block foot
	+footer2()