extends shared/serviceMaster
block service-content
	.gg-center-col
		.gg-inner-row-2.gg-top-post.service-post-sm
			.gg-inner-col-1
				h3.heading-post search engine optimisation
			.gg-inner-col-2
				p What's the point of having a website if people struggle to find it? Google is our friend and we know how to speak with its language, in order <span class="text-bold">to allow your project to jump to the top of the search results</span> whenever a potential customer/visitor makes a search that should bring them to you. You'd better make Google your best friend; Google knows everyone.
			.gg-inner-col-2
				img(src="assets/images/seo.jpg")