extends shared/layout
include shared/mixins
block content
	div.gg-row
		div.gg-center-left-offset.feedback-post
			.gg-inner-row-2.feedback-post-text
				+feefbackHead("feedback")
				div.gg-inner-col-2
					div.text-important "I was a bit sceptical at first when I saw this hourlie, because it was very cheap. And you know what they said "you get what you pay for!" I'm glad I didn't make that assumption because those guys did an amazing job with business website. I'm so happy I chose them. This hourlie is a real bagain for anyone who has a small budget but want a professional website. I can't recommend them enough. 100% happy. Thanks Guys"
						span.text-bold Lindon B.

				div.gg-inner-col-2
					img(src="assets/images/feedback-1.jpg")

			+feedbackNav()