extends shared/serviceMaster
block service-content
	div.gg-center-col
		div.gg-inner-row-2.gg-top-post
			div.gg-inner-col-2
				h3.heading-post search engine optimization
				div What's the point of having a website if people struggleto find it? Google is our friend and we know how to speak with him, in order <span class="text-bold">to allow your project to jump on the top of the search results</span> whenever a potential customer/visitor makes a research that should bring to you. You'd better make Google your best friend, he knows everyone.
			div.gg-inner-col-2
				img(src="assets/images/seo.jpg")

	