extends shared/serviceMaster
block service-content
	.gg-center-col
		.gg-inner-row-2.gg-top-post.service-post-sm
			+serviceHead("cms services")
			.gg-inner-col-2
				p If your website runs on a CMS and you need <span class="text-bold">maintenance, development or migration,</span> our agency covers a range of the most common CMS such as Wordpress, Drupal, Joomla!, Magento, etc.

			.gg-inner-col-2
				img(src="assets/images/img-7.jpg")

	