extends shared/serviceMaster
block service-content
	div.gg-center-col
		div.gg-inner-row-2.gg-top-post
			+serviceHead("psd to html conversion")
			div.gg-inner-col-2
				div If you need to transform your <span class="text-bold">PSD files</span> in pure HTML, JS, CSS code, we can do it very quickly for you with a <span class="text-bold">100% accuracy to details</span> and fantastic effects for a very competitive price. We will deliver a zip file containing the sorted file tree, compressed and non-compressed code, and high quality code standards.

			div.gg-inner-col-2
				img(src="assets/images/psd2html.jpg")