extends shared/layout
include shared/mixins
block content
	div.gg-row
		//container for slider, banner, menu and small statistic
		div.gg-separator.gg-post-row-bottom
			+homeleftlink()
			div.gg-center-col
				h2.heading-post HELLO WE ARE GURU!
				div.gg-inner-row-2.gg-top-post.gg-gallary-grid
					- var imgs = [{image:'projects-final-grey-1.jpg', caption: 'Find Your Job'},{image:'projects-final-2.jpg', caption: 'Chef De Ville', opacity: false},{image:'projects-final-grey-3.jpg', caption: 'Focalpoint'}, {image:'projects-final-grey-4.jpg', caption: 'London House'},{image:'projects-final-grey-5.jpg', caption: 'Yoga Team'},{image:'projects-final-grey-6.jpg', caption: 'Seba Digital'}]
					+projectGalleryOpacity(imgs)
			div.gg-right-col
				ul.gg-nav-info.home-nav-list
					li.text-bold.text-keytext Guro facts
					li.text-bold.text-keytext Founded
					li.text-bold.text-body 2006guru_graphics_home_projects_final.jade
					li.text-bold.text-keytext Incorporation
					li.text-bold.text-body 4 September 2010
					li.text-bold.text-keytext Logo canghing
					li.text-bold.text-body 2014

		div.h-line-left
		+aboutgurugraphic()

		div.h-line-right

		+workwithateam2()

		div.h-line-right
		+weareinlondon3()