extends shared/serviceMaster
block service-content
	.gg-center-col
		.gg-inner-row-2.gg-top-post.service-post-sm
			+serviceHead("graphic and web design")
			.gg-inner-col-2
				div Our team of Graphic and Web Designers will be able to provide any graphic job that you may need, from <span class="text-bold">logos</span> to <span class="text-bold">website designs</span>. We can offer a big range of choices and different styles to help your project to find its <span class="text-bold">identity</span>. <p>Are you bored of your website's graphic layout? Or maybe you simply don't like the colours anymore? Our team will provide you <span class="text-bold">new ideas and styles</span> to bring your website back to life. Your visitors will feel our freshness.</p>

			.gg-inner-col-2
				img(src="assets/images/img-8.jpg")

		
