extends shared/feedbackMaster
include shared/mixins
block feedback-content
	div.gg-center-col
		div.gg-inner-row-2.gg-top-post
			div.gg-inner-col-2
				h3.heading-post DESIGN
				div When the wireframes are agreed, we will proceed to the design stage of your project. When creating a design for your project we will focus on your corporate identity and styling preferences. You will be completely involved in the design process and we will do our best to satisfy your highest expectations.
					
			div.gg-inner-col-2
				img(src="assets/images/design.jpg")
		+feedbackbottomlink("back", "development")