extends shared/feedbackMaster
include shared/mixins
block feedback-content
	div.gg-center-col.feedback-post
		div.gg-inner-row-2.gg-top-post
			+feefbackHead("development")
			div.gg-inner-col-2
				div At this stage our developers start transforming the picture created by the designers into a working responsive website. They work hard to ensure all the applications are responsive, secure and work well to your specific needs. They also look for and resolve any anticipated issues each application may face, to ensure that they operate in a smooth, smart and simple way. Part of this process will involve them looking at the front-end and the back-end code, to make sure every aspect of the website is impeccably well-designed and helps to guarantee full functionality.
				
			div.gg-inner-col-2
				img(src="assets/images/development.jpg")
		+feedbackbottomlink("back", "optimisation")