extends shared/serviceMaster
block service-content
	.gg-center-col
		.gg-inner-row-2.gg-top-post.service-post-sm
			+serviceHead("hosting solutions")
			.gg-inner-col-2
				p Web development can be technical for some people, and a time drain for most.
				p We can provide and take care of your website's hosting account. No more emailing customer services or applying for technical "solutions" online. We're here for you and we will look after every technical aspect of your domain without disturbing you (or sending you more spam) ensuring a professional job everyday. Just stop thinking about it and enjoy your website, we will handle everything for you behind the scenes.

			.gg-inner-col-2
				img(src="assets/images/img-10.jpg")