extends shared/serviceMaster
block service-content
	div.gg-center-col
		div.gg-inner-row-2.gg-top-post
			div.gg-inner-col-2
				h3.heading-post CMS SERVICES
				div If your website runs into a CMS and you need <span class="text-bold">maintenance, development or migration</span>, our agency covers a nice amount of the most-common CMS such as Wordpress, Drupal, Joomla!, Magento, etc...

			div.gg-inner-col-2
				img(src="assets/images/img-7.jpg")

	