extends shared/layout
include shared/mixins
block content
	div.gg-row
		div.gg-center-left-offset.feedback-post
			.gg-inner-row-2
				+feefbackHead("feedback")
				div.gg-inner-col-2
					div.text-important "Best developer I've worked with yet. Please don't take up all his time though... I need him." <span class="text-bold">Mel C.</span>

				div.gg-inner-col-2
					img(src="assets/images/feedback-1.jpg")

			+feedbackNav()