extends shared/serviceMaster
block service-content
	div.gg-center-col
		div.gg-inner-row-2.gg-top-post
			+serviceHead("newsletter setup")
			div.gg-inner-col-2
				div If something is not working on your website or maybe you just want to <span class="text-bold">change</span> some minor details, we can <span class="text-bold">fix</span> any feature or adapt your current website to your new requirements. <p><span class="text-bold">We also offer maintenance to all of our customers</span>. If you need to <span class="text-bold">improve something</span>, just call us and we'll do the job for you. There's no need to call someone else to work on our beautiful code. We'll always look after our clients.</p>

			div.gg-inner-col-2
				img(src="assets/images/img-12.jpg")

	