extends layout
block content
    div.gg-row
        //container for slider, banner, menu and small statistic
        div.gg-separator.gg-post-row-bottom
            div.gg-left-col
                ul.gg-nav-list.home-nav-list
                    li
                        a.link-orange.text-bold(href="guru_graphics_guru_planning.html") Planning
                    li
                        a.link-orange.text-bold(href="guru_graphics_guru_research.html") Research
                    li
                        a.link-orange.text-bold(href="guru_graphics_guru_wireframing.html") Wireframing
                    li
                        a.link-orange.text-bold(href="guru_graphics_guru_design.html") Design
                    li
                        a.link-orange.text-bold(href="guru_graphics_guru_development.html") Development
                    li
                        a.link-orange.text-bold(href="guru_graphics_guru_optimisation.html") Optimisation
                    li
                        a.link-orange.text-bold(href="guru_graphics_guru_betatesting.html") Beta testing
                    li
                        a.link-orange.text-bold(href="guru_graphics_guru_LAUNCH.html") Launch

            block feedback-content
