include mixins
include weareinlondon
doctype html
html(lang="en")
	head
		title GURU GRAPHICS
		link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600" rel="stylesheet")
		link(href="assets/css/style.css" rel="stylesheet")
	body
		.gg-container
			block header
				//container for  Header section
				.gg-row.gg-header
					.gg-center-left-offset
						.gg-inner-row-2
							.gg-inner-col-2
								p
									img(class="img-responsive" src="assets/images/logo.jpg")
								p
									h3.text-bold.gg-slogan no project is too big, or too small for
										span.text-important &nbsp;us!
							.gg-inner-col-2
								+headermenu()
								//<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
					.gg-right-col
						a.gg-header-search(href="#") search
				.gg-row.header-line
					hr.h-line-right

			block content
		.gg-foot-double-border
		.gg-container
			block foot
				//container for footer links
				+footer1()
			//end container for footer links

			//container for copyright
			.gg-row
				.div.gg-center-left-offset
					p.gg-copyright.text-center
						| 2016 Guru Graphic ltd. | T&amp;C | Bedford Park - London CRO 2AP - Registered in England and Wales 08098445
			//end container for copyright