include mixins
doctype html
html(lang="en")
	head
		title GURU GRAPHICS
		link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600" rel="stylesheet")
		link(href="assets/css/style.css" rel="stylesheet")
	body
		.gg-container
			block header
				//container for  Header section
				div.gg-row.gg-header
					div.gg-center-left-offset
						div.gg-inner-row-2
							div.gg-inner-col-2
								p
									img(class="img-responsive" src="assets/images/logo.jpg")
								p
									h3.text-bold.gg-slogan no project is too big, or too small for
										span.text-important &nbsp;us!
							div.gg-inner-col-2
								+headermenu()
								//<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
					div.gg-right-col
						a.gg-header-search(href="#") search
				div.gg-row.header-line 
					hr.h-line-right

			block content

			block foot
				//container for footer links
				div.gg-row.gg-footer
					div.gg-foot-double-border
						div.gg-center-left-offset
							div.foot-list-group
								ul
									li
										a.link-inverse(href="#") about guru
									li
										a.link-inverse(href="#") portfolio
									li
										a.link-inverse(href="#") feedback
								
							div.foot-list-group
								ul
									li
										a.link-inverse(href="#") services
									li
										a.link-inverse(href="#") studio
							div.foot-list-group
								ul
									li
										a.link-inverse(href="#") how we are
									li
										a.link-inverse(href="#") what we do
							div.foot-list-group
								ul
									li
										a.link-inverse(href="#") what we believe
									li
										a.link-inverse(href="#") our culture
							div.foot-list-group
								ul
									li
										a.link-inverse(href="#") studio
									li
										a.link-inverse(href="#") join us
							div.foot-list-group
								ul
									li
										a.link-orange(href="#") Sunset House, CRO 2AP
									li
										a.link-orange(href="#") 020 8774 7155
									li
										a.link-orange(href="#") new project&nbsp;&nbsp; 
											span.gi.gi-envelop
									li
										a.link-orange(href="#") contact us&nbsp;&nbsp; 
											span.gi.gi-mobile
				//end container for footer links

				//container for copyright
				div.gg-row
					div.div.gg-center-left-offset
						p.gg-copyright.text-center
							| 2016 Guru Graphic ltd. | T&amp;C | Bedford Park - London CRO 2AP - Registered in England and Wales 08098445
				//end container for copyright