//
   Created by ehsanmunna on 3/19/2017.
mixin mobile-menu()
    #mobile-menu.mobileHomeContainer
        .mobileHomeInnerContainer
            div.leftContantContainer
                img(src='assets/images/cross.png' onclick="menuClose()")
                div.leftmenuimage
                    img(src='assets/images/msz.png')
                    img(src='assets/images/phn.png')

            div.middleContantContainer.text-bold
                p Index
                p -
                p GURU
                p PORTFOLIO
                p SERVICES
                p STUDIO
                p SEARCH
                p CONTACT US
                p 020 8774 7155
                div.contactLinks
                    a Bedford Park, Croydon, London,CRO2AP
                    br
                    a 020 8774 7155
                    br
                    a hello@gurugraphics.co.uk
                    br
                    a guru.graphics
            div.rightContantContainer.text-bold
                p Guru Facts
                p -
                p FOUNDED
                p 2005
                p PROJECTS
                p DONE
                p 327
                p SATISFACTION
                p 99%
                p(style="border-bottom: none;") FEEDBACK
                p(style="border-bottom: none;") 4.9/5
            div.footerContainer
                div.footerclass
                    img(src='assets/images/mobileFooter.png')
