extends layout
block content
    div.gg-row
        //container for slider, banner, menu and small statistic
        div.gg-separator.gg-post-row-bottom
            div.gg-left-col
                ul.gg-nav-list.home-nav-list
                    li
                        a.link-orange.text-bold(href="guru_graphics_services_webdevelopment_responsive_development.html") Web development
                    li
                        a.link-orange.text-bold(href="guru_graphics_services_graphic.html") Graphic and web design
                    li
                        a.link-orange.text-bold(href="guru_services_ITSECURITY.html") IT security
                    li
                        a.link-orange.text-bold(href="guru_graphics_services_responsive_development.html") Responsive development
                    li
                        a.link-orange.text-bold(href="guru_services_MANTENANCE.html") Website Maintenance
                    li
                        a.link-orange.text-bold(href="guru_services_ECOMMERCE.html") Ecommerce development
                    li
                        a.link-orange.text-bold(href="guru_services_OPTIMIZATION.html") S.E.O.
                    li
                        a.link-orange.text-bold(href="guru_graphics_services_PSDTOHTML.html") Psd to html
                    li
                        a.link-orange.text-bold(href="guru_services_NEWSLETTER.html") Newsletter setup
                    li
                        a.link-orange.text-bold(href="guru_services_hostingsolutions.html") Hosting solutions
                    li
                        a.link-orange.text-bold(href="guru_graphics_services_CMS.html") Cms service
            block service-content

block foot
    //container for footer links
    div.gg-row.gg-footer
        div.gg-center-left-offset
            div.foot-list-group
                ul
                    li
                        a.link-inverse(href="#") about guru
                    li
                        a.link-inverse(href="#") portfolio

            div.foot-list-group
                ul
                    li
                        a.link-inverse(href="#") services
                    li
                        a.link-inverse(href="#") studio
            div.foot-list-group
                ul
                    li
                        a.link-inverse(href="#") how we are
                    li
                        a.link-inverse(href="#") what we do
            div.foot-list-group
                ul
                    li
                        a.link-inverse(href="#") what we believe
                    li
                        a.link-inverse(href="#") our culture
            div.foot-list-group
                ul
                    li
                        a.link-inverse(href="#") project
            div.foot-list-group
                ul
                    li
                        a.link-orange(href="#") Sunset House, CRO 2AP
                    li
                        a.link-orange(href="#") 020 8774 7155
                    li
                        a.link-orange(href="#") new project
                    li
                        a.link-orange(href="#") contact us
    //end container for footer links

