extends layout
block content
    div.gg-row
        //container for slider, banner, menu and small statistic
        div.gg-separator.gg-post-row-bottom
            div.gg-left-col
                ul.gg-nav-list
                    li
                        a.link-orange.text-bold(href="#") Web development
                    li
                        a.link-orange.text-bold(href="#") Graphic and web design
                    li
                        a.link-orange.text-bold(href="#") IT security
                    li
                        a.link-orange.text-bold(href="#") Responsive development
                    li
                        a.link-orange.text-bold(href="#") Website Maintenance
                    li
                        a.link-orange.text-bold(href="#") Ecommerce development
                    li
                        a.link-orange.text-bold(href="#") S.E.O.
                    li
                        a.link-orange.text-bold(href="#") Psd to html
                    li
                        a.link-orange.text-bold(href="#") Newsletter setup
                    li
                        a.link-orange.text-bold(href="#") Hosting solutions
                    li
                        a.link-orange.text-bold(href="#") Cms service
            block service-content

block foot
    //container for footer links
    div.gg-row.gg-footer
        div.gg-foot-double-border
            div.gg-center-left-offset
                div.foot-list-group
                    ul
                        li
                            a.link-inverse(href="#") about guru
                        li
                            a.link-inverse(href="#") portfolio

                div.foot-list-group
                    ul
                        li
                            a.link-inverse(href="#") services
                        li
                            a.link-inverse(href="#") studio
                div.foot-list-group
                    ul
                        li
                            a.link-inverse(href="#") how we are
                        li
                            a.link-inverse(href="#") what we do
                div.foot-list-group
                    ul
                        li
                            a.link-inverse(href="#") what we believe
                        li
                            a.link-inverse(href="#") our culture
                div.foot-list-group
                    ul
                        li
                            a.link-inverse(href="#") project
                div.foot-list-group
                    ul
                        li
                            a.link-orange(href="#") Sunset House, CRO 2AP
                        li
                            a.link-orange(href="#") 020 8774 7155
                        li
                            a.link-orange(href="#") new project
                        li
                            a.link-orange(href="#") contact us
    //end container for footer links

    //container for copyright
    div.gg-row
        div.div.gg-center-left-offset
            p.gg-copyright.text-center
                | 2016 Guru Graphic ltd. | T&amp;C | Bedford Park - London CRO 2AP - Registered in England and Wales 08098445
    //end container for copyright